.text-decorator-none {
    text-decoration: none;
}

.produto-box {
    background-color: #f80000 !important;
    border-radius: 20px !important;

    margin-left: 20px !important;
    margin-right: 20px !important;
    border: 1px solid #ffffff !important;
    width: 280px !important;
    height: 380px !important;
    overflow: hidden !important;
    box-shadow: 0px 0px 15px -5px !important;
    padding-bottom: 1px !important;
    transition: 0.3s !important;
    animation: ease-in !important;



}

.produto-box:hover {

    transform: scale(1.2);
    box-shadow: 0px 0px 15px 0px !important;
}

.title-prod {
    margin-left: 10px !important;
    font-size: 10px !important;
    color: rgb(0, 250, 121) !important;
}

.marginLeft {

    margin-bottom: 10px !important;
    margin-top: -10px;
    margin-left: 25px !important;
    background-color: #ffffff !important;
    color: rgb(255, 255, 255) !important;
    border: 1px solid #ffffff !important;

}

.marginRight {
    margin-top: -15px;
    background-color: #000000 !important;
    color: rgb(255, 255, 255) !important;
    border: 0.5px solid #ffffff !important;
}

.img-produtos {

    width: 220px !important;
    height: 150px !important;
    border-radius: 10% !important;
    margin-top: -10px !important;
    border: 4px solid #ffffff !important;
    margin-left: 16px !important;
    margin-right: 70px !important;



}

.produto-titulo {
    margin-left: 0px !important;
    font-size: 10px !important;
    color: rgba(0, 250, 121, 0.442) !important;
}

.produto-info {
    font-size: 15px !important;
}

.produto-nome {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0px !important;
    font-size: 30px !important;
    font-weight: bold !important;
    color: rgb(0, 0, 0) !important;
}

.button-produto {
    margin-bottom: 10px !important;

}